{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
  {{!-- <main>
    <nav>
      <ul>
        <li>База знань</li>
        <li>Інформація</li>
      </ul>
    </nav>
    <div>
      <img src="/img/community_tg.png">
      <h2>Що таке база знань?</h2>
      <p>База знань - база даних, що містить правила виведення та інформацію про людський досвід і знання в деякій предметній галузі. У системах, що самонавчаються, база знань також містить інформацію, що є результатом вирішення попередніх завдань.</p>
      <button>Перейти до ком'юніті у Телеграм</button>
    </div>
  </main> --}}
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}